# Librerías

In [20]:
from bs4 import BeautifulSoup as bs
import requests as req
import pandas as pd

In [38]:
# En esta ocasión utilizaremos beautifulsoup, ya que no necesitamos navegar por la página

url = 'https://www.semrush.com/website/reddit.com/overview/'

soup = bs(req.get(url).content,'html.parser')

# Sacamos el cuerpo de la tabla y todas las filas:

tbody = soup.find('table',class_='sc-eoHXOn kDPliV').find('tbody')
rows = tbody.find_all('tr')

# Vamos procesando las celdas de cada fila:

table = pd.DataFrame([[j.text for j in i.find_all('td')]for i in rows])

# Solo nos interesan las tres primeras columnas, tiramos las otras:

table.drop(columns = [3,4], inplace = True)

# Añadimos el nombre de las columnas:

table.columns = ['country','usage_percentage','users']

table

          country usage_percentage   users
0   United States            40.1%   1.77B
1          Canada            6.25%  275.4M
2  United Kingdom            5.68%  250.2M
3           India             5.2%  229.1M
4     Philippines            4.28%  188.6M

In [39]:
# Quitemos el símbolo % y sustituyamos M y B por su orden de magnitud correspondiente:

table.usage_percentage = [float(i.replace('%','')) for i in table.usage_percentage]

magnitude = {'B': 10e9,
       'M': 10e6}

table.users = [int(float(i[:-1])*magnitude[i[-1]]) for i in table.users]

table

          country  usage_percentage        users
0   United States             40.10  17700000000
1          Canada              6.25   2754000000
2  United Kingdom              5.68   2502000000
3           India              5.20   2291000000
4     Philippines              4.28   1886000000

In [40]:
table.usage_percentage.sum()

61.510000000000005

No podemos obtener la tabla completa, ya que la información detallada es de pago. Sumando la columna de porcentajes llegamos a un 62% que no es muy decente, pero ya que el resto de países tendrán un ratio de uso aún peor tenemos a los principales. Guardemos el csv:

In [42]:
table.to_csv('../data/raw_data/semrush/redditusage.csv', index = False)